<div class="ms-Panel" id="addFILEPanelID">
  <button class="ms-Panel-closeButton ms-PanelAction-close">
    <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
  </button>
  <spinner-component *ngIf="inProcess" [SupportText]="spinnerText"></spinner-component>
  <br>
  <div class="ms-Panel-contentInner">
    <p class="ms-Panel-headerText">Новое сообщение</p>
    <div class="ms-Panel-content">

      <div *ngIf="hasError">
        <div class="ms-MessageBar ms-MessageBar--error">
          <div class="ms-MessageBar-content">
            <div class="ms-MessageBar-icon">
              <i class="ms-Icon ms-Icon--xCircle"></i>
            </div>
            <div class="ms-MessageBar-text">
              {{ errorMessage }}
            </div>
          </div>
        </div>
        <br>
      </div>

      <input #fileInput type="file"/>

      <div [ngClass]="{'ms-TextField':true, 'ms-TextField--multiline':true, 'is-required':false, 'is-disabled': inProcess}">
        <label class="ms-Label">Описание</label>
        <textarea [(ngModel)]="description" class="ms-TextField-field" type="text" maxlength="300"></textarea>
      </div>

    </div>

    <div>
      <button *ngIf="!inProcess" (click)="onSaveClick()"
              class="ms-Button  ms-Button--primary">
        <span class="ms-Button-label">Сохранить</span>
      </button>
    </div>

  </div>
</div>
