<view-members-dialog [currentElement]="element"></view-members-dialog>
<add-members-dialog [currentElement]="element"></add-members-dialog>


<add-note-panel [parentElement]="element" (onAddNote)="dataChange($event)"></add-note-panel>
<edit-note-dialog (onSaveNote)="dataChange($event)"></edit-note-dialog>
<delete-note-dialog (onDeleteNote)="dataChange($event)"></delete-note-dialog>

<delete-element-dialog [deletedElement]="element" (onDeleteElement)="dataChange($event)"></delete-element-dialog>
<add-element-panel [parentElement]="element" (onAddElement)="dataChange($event)"></add-element-panel>
<edit-element-panel [editedElement]="element" (onEditElement)="dataChange($event)"></edit-element-panel>

<add-message-panel [parentElement]="element" (onAddMessage)="dataChange($event)"></add-message-panel>
<delete-message-dialog (onDeleteMessage)="dataChange($event)"></delete-message-dialog>
<edit-message-panel (onSaveNote)="dataChange($event)"></edit-message-panel>

<add-file-panel (AddFileEventEmitter)="onActionAddFile($event)"></add-file-panel>

<header>
  <app-navigation-bar></app-navigation-bar>
</header>

<main>
  <div class="ms-Grid">
    <breadcrumbs [parentElementsList]="breadcrumbs"></breadcrumbs>

    <spinner-component *ngIf="loading" [SupportText]="spinnerText"></spinner-component>

    <div *ngIf="hasError" class="ms-MessageBar ms-MessageBar--error">
      <div class="ms-MessageBar-content">
        <div class="ms-MessageBar-icon">
          <i class="ms-Icon ms-Icon--xCircle"></i>
        </div>
        <div class="ms-MessageBar-text">
          {{ errorMessage }}
        </div>
      </div>
    </div>

    <div *ngIf="!loading">

      <div class="page-heading-xxl th-active-bar">
        <div class="m-b-1 ms-Grid-row">
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg8 ms-u-xl8">
            <div class="ms-fontSize-xl">{{ element.name }}</div>
            <div>{{ element.created_at|date:'dd.MM.yyyy hh:mm' }}
              {{ element.first_name }} {{ element.last_name }}
            </div>
          </div>
          <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg4 ms-u-xl4 ms-u-textAlignRight">
            <div class="th-hover-active-bar">
              <div (click)="openEditElementPanel()"
                   class="th-Card-action"><i
                class="ms-Icon ms-Icon--Edit "></i>
                Редактировать
              </div>
              <div (click)="onClickDeleteElement(element)"
                   class="th-Card-action"><i
                class="ms-Icon ms-Icon--Delete "></i> Удалить
              </div>

              <div (click)="onClickMembersView(element)"
                   class="th-Card-action"><i
                class="ms-Icon ms-Icon--People "></i> Пользователи
              </div>
              <div (click)="onClickAddMember(element)"
                   class="th-Card-action"><i
                class="ms-Icon ms-Icon--PeopleAdd "></i> Добавить пользователя
              </div>
            </div>
          </div>
          <div class="ms-u-clearfix"></div>
        </div>
        <div class="ms-fontSize-l">{{ element.description }}</div>
      </div>

      <!--СООБЩЕНИЯ-->
      <div class="ms-Grid-row">
        <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg4 ms-u-xl4">
          <p class="m-b-05 ms-u-textAlignRight"><span class="color-primary">145</span> (200)</p>
          <div class="page-heading">
            <div class="ms-PanelExample th-CommandButton">
              <button (click)="onCreateMessage()" class="ms-Button th-Button-Icon">
                <i class="ms-Icon ms-Icon--AddTo"></i>
              </button>
              <div class="ms-Panel ms-Panel--md">
                <button class="ms-Panel-closeButton ms-PanelAction-close">
                  <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                </button>
                <div class="ms-Panel-contentInner">
                  <p class="ms-Panel-headerText">Medium Panel</p>
                  <div class="ms-Panel-content">
                    <span class="ms-font-m">Content goes here</span>
                  </div>
                </div>
              </div>
            </div>
            <h4>Сообщения</h4>
          </div>

          <messages-list [addNoteDialogLocal]="addNotePanel"
                         [localMessages]="messagesSet"
                         [deleteMessageDialog]="deleteMessageDialog"
                         [editMessageDialog]="editMessagePanel">
            Загрузка ...
          </messages-list>

          <h2 *ngIf="messagesSet.length == 0" class="ms-font-xl">Нет сообщений для отображения</h2>
        </div>

        <!--ЗАМЕТКИ-->
        <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg4 ms-u-xl4">
          <p class="m-b-05 ms-u-textAlignRight"><span
            class="color-primary">145</span> (200)</p>
          <div class="page-heading">
            <div class="ms-PanelExample th-CommandButton">
              <button (click)="onAddNote()"
                      class="ms-Button th-Button-Icon">
                <i class="ms-Icon ms-Icon--AddTo"></i>
              </button>
              <div class="ms-Panel ms-Panel--md">
                <button class="ms-Panel-closeButton ms-PanelAction-close">
                  <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                </button>
                <div class="ms-Panel-contentInner">
                  <p class="ms-Panel-headerText">Medium Panel</p>
                  <div class="ms-Panel-content">
                    <span class="ms-font-m">Content goes here</span>
                  </div>
                </div>
              </div>
            </div>
            <h4>Заметки</h4>
          </div>

          <notes-list [deleteNoteDialog]="deleteNoteDialog"
                      [editNoteDialog]="editNoteDialog"
                      [localNotes]="notesSet">Загрузка ...
          </notes-list>

          <h2 *ngIf="notesSet.length == 0" class="ms-font-xl">Нет заметок для отображения</h2>
        </div>

        <!--ФАЙЛЫ-->
        <div class="ms-List-item ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-lg4 ms-u-xl4">
          <p class="m-b-05 ms-u-textAlignRight"><span
            class="color-primary">145</span> (200)</p>
          <div class="page-heading">
            <div class="ms-PanelExample th-CommandButton">
              <button (click)="onAddAttachment()"
                      class="ms-Button th-Button-Icon">
                <i class="ms-Icon ms-Icon--AddTo"></i>
              </button>
              <div class="ms-Panel ms-Panel--md">
                <button class="ms-Panel-closeButton ms-PanelAction-close">
                  <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
                </button>
                <div class="ms-Panel-contentInner">
                  <p class="ms-Panel-headerText">Medium Panel</p>
                  <div class="ms-Panel-content">
                    <span class="ms-font-m">Content goes here</span>
                  </div>
                </div>
              </div>
            </div>
            <h4>Файлы</h4>
          </div>

          <files-list [itemsList]="attachmentSet"></files-list>

        </div>

        <div class="ms-u-clearfix"></div>

        <div class="ms-List-item ms-Grid-col ms-u-sm12">
          <p class="m-b-05 ms-u-textAlignRight"><span class="color-primary">145</span> (200)</p>

          <div class="page-heading-xxl">

            <div class="ms-CommandButton">
              <button (click)="openAddElement()"
                      class="ms-Button ms-CommandButton-button">
                            <span class="ms-CommandButton-icon"><i
                              class="ms-Icon ms-Icon--AddTo"></i></span>
                <span class="ms-CommandButton-label">Создать</span>
              </button>
            </div>

            <h1 class="ms-font-xxl">Элементы</h1>
          </div>

          <div class="ms-Grid-row">

            <elements-list-var [localElements]="elementsSet" (onSetFavorite)="dataChange($event)">
              Загрузка ...
            </elements-list-var>

          </div>
          <h2 *ngIf="elementsSet.length == 0" class="ms-font-xl">Нет элементов для отображения</h2>
        </div>
      </div>
    </div>
  </div>
</main>
