@import '../node_modules/office-ui-fabric-core/src/sass/_Fabric.Common';
// variable

$text-color-primary:  unquote("rgba(0, 0, 0, 0.87)") !default;//green; //
$text-color-secondary: unquote("rgba(0, 0, 0, 0.54)") !default;
$color-primary: $ms-color-red;
$color-primary-dark: $ms-color-redDark;
$border: rgba(0,0,0,0.4);
//$color-accent: '$color-accent';

body{
  min-width: 320px;
  font-size: 14px;
  line-height: 1.2;
  color: $text-color-primary;
  font-weight: 300;
  font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.yyy *{
  outline: 1px solid red;
}
// Grid
main{
  padding: 32px 16px 0 16px;
}
.ms-Grid {
  padding: 0 16px;
}
.ms-Grid-row {
    margin: 0 -16px;
}
.ms-Grid-col {
    padding-left: 16px;
    padding-right: 16px;
}

//
.b-t-1{
  border-top: 1px solid $border;
}
.b-t-2{
  border-top: 2px solid $border;
}
//
.m-b-05{
  margin-bottom: 8px;
}
.m-b-1{
  margin-bottom: 16px !important;
}
.m-b-2{
  margin-bottom: 32px !important;
}
//
.color-primary{
  color: $color-primary;
}
//
$header-height: 50px;
header{
  background-color: $ms-color-white;
  height: $header-height;
  z-index: 1;
  border-bottom: 1px solid rgba(0,0,0,.14);
  //    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  //   box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  .th-Header-banner{
    padding: 0 32px;
  }
    .th-Logo-link{
      height: $header-height;
      line-height: $header-height;
      min-width: $header-height;
      color: $text-color-secondary;
      text-decoration: none;
      display: inline-block;
      &:hover{
        color: $text-color-primary;
        background: $ms-color-white;
      }
    }
  .ms-CommandBar-sideCommands {
    padding-right: 0;
    .ms-CommandButton{
      float: left;
    }
  }
  .ms-CommandButton-button{
      height: $header-height;
      line-height: $header-height;
      min-width: $header-height;
      color: $text-color-secondary;
      .ms-Persona-primaryText{
        color: $text-color-secondary;
      }
      &:hover{
        color: $text-color-primary;
        background: $ms-color-white;
        .ms-Persona-primaryText{
          color: $text-color-primary;
        }
      }
      .ms-Persona-imageArea{
        top: 1px;
        left: 1px;
      }
    }
  .ms-CommandButton+.ms-CommandButton {
    margin-left: 0;
  }
}

//page-heading
.page-heading-xxl{
  padding: 8px 0 32px;
  border-top: 2px solid $border;
  position: relative;
  .ms-CommandButton{
    position: absolute;
    right: 0;
    .ms-CommandButton-button{
      border-color: transparent;
      background-color: transparent;
      color: $color-primary;

      .ms-CommandButton-label{
        color: $color-primary;
        text-transform: uppercase;
      }
    }
    &:hover{
      .ms-CommandButton-button{
        border-color: transparent;
        background-color: transparent;
        color: $color-primary-dark;
        .ms-CommandButton-label{
          color: $color-primary-dark;
        }
      }
    }
  }
  h1{
    line-height: 40px;
  }
  div{
    line-height: 20px;
  }
  .ms-fontSize-xl{
    line-height: 1.2;
  }
}
.page-heading{
  padding: 8px 0 32px;
  border-top: 1px solid $border;
  position: relative;
  .th-CommandButton {
    position: absolute;
    right: -4px;
    top: 0;
    .th-Button-Icon {
      border-color: transparent;
      background-color: transparent;
      color: $color-primary;
      min-width: 32px;
      padding: 4px 4px 6px;
    }
    &:hover {
      border-color: transparent;
      background-color: transparent;
      color: $color-primary-dark;
    }
  }
}
// Breadcrumb';
.ms-Breadcrumb{
  margin: 0 0 8px 0;
}
.ms-Breadcrumb-itemLink {
  font-size: 16px;
  color: $text-color-secondary;
  padding: 0;
  &:hover{
    background-color: transparent;
    color: $text-color-primary;
  }
}
.ms-Breadcrumb-chevron{
 margin: 4px 8px;
  color: $color-primary;
}
// Button';

.ms-Button{
  &.ms-Button--primary {
    background-color: $color-primary;
    border-color: $color-primary;
  }
  &.ms-Button--primary:hover {
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;
  }
}

.th-Button-Icon{

}

// Callout';
// CheckBox';
// RadioButton';
// ChoiceFieldGroup';


// Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information.

//
// Office UI Fabric
// --------------------------------------------------
// Persona Card styles


// Small
//
// The persona card docks to the bottom of the viewport.


.ms-Card {
  //@include ms-baseFont;
  @include ms-u-slideUpIn10;
  color: $text-color-primary;
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-regular;
  border-top: $border;
  //@include drop-shadow;
  position: relative;
  &:hover{
    .ms-Card-overflow {
      display: block;
    }
  }
}
.ms-Card-header {
  //background-color: $ms-color-neutralLighter;
  padding: 12px 0;
}
.ms-Card-header-actions{
  max-width: 32px;
  position: absolute;
  right: 4px;
  text-align: right;
  top: 0;
  margin: 0;
  padding: 0;
  .ms-Card-action{
    margin: 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
  }
}
.ms-Card-primaryText,
.ms-Card-secondaryText,
.ms-Card-tertiaryText,
.ms-Card-optionalText {
  //@include noWrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ms-Card-primaryText {
  font-weight: $ms-font-weight-semibold;
  padding-right: 40px;
  box-sizing: border-box;
    padding-bottom: 10px;
  //outline: 1px solid red;
}

.ms-Card-secondaryText,
.ms-Card-tertiaryText,
.ms-Card-optionalText {
  font-weight: $ms-font-weight-light;
  white-space: nowrap;
  padding-bottom: 10px;
}


.ms-Card-optionalText {
  text-align: right;
  color: $text-color-secondary;
  padding-bottom: 0;
}


.ms-Card-actions {
  @include ms-u-borderBox;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  background-color: $ms-color-white;
  height: 48px;

  &::before {
    content: '';
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    //border-top: 1px solid $ms-color-neutralTertiaryAlt;
  }
}

.ms-Card-action,
.ms-Card-overflow {
  display: inline-block;
  cursor: pointer;
  font-size: $ms-icon-size-m;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  color: $ms-color-neutralSecondary;
  outline: transparent;
  position: relative;
  @include ms-u-borderBox;

  &:hover {
    color: $ms-color-neutralDark;
  }

  &:active {
    color: $ms-color-themePrimary;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
  }

  // Currently-selected action
  &.is-active {
    color: $ms-color-themePrimary;
    // Arrow
    &::after {
      @include ms-u-borderBox;
      @include rotate(45deg);
      content: '';
      width: 10px;
      height: 10px;
      border: 1px solid $ms-color-neutralTertiaryAlt;
      background-color: $ms-color-white;
      position: absolute;
      border-right: 0;
      border-bottom: 0;
      bottom: -4px;
      left: 13px;
    }
  }
}
.ms-Card-overflow {
  display: none;
  font-size: $ms-font-size-m;
  color: $color-primary;
  float: right;
  margin-top: -1px;
  &:hover {
    color: $color-primary;
  }
}
.ms-Card-orgChart {
  position: absolute;
  right: 12px;
  top: -95px;
}
.ms-Card-details {
  display: none;
  width: 100%;
  margin: 0;
  max-height: 300px;
  min-height: 48px;
  color: $ms-color-neutralSecondary;
  padding: 9px 20px;
  box-sizing: border-box;
  &.is-active {
    display: block;
  }
}
.ms-Card-detailLabel {
  color: $ms-color-neutralSecondary;
  line-height: 30px;
}
// CommandBar
.ms-CommandBar{
  display: none;
}
// CommandButton

// ContextualMenu;
// DatePicker;
// DetailsList;
// Dialog;
// Dropdown;
// FacePile;
// Label';
// Link';
.ms-Link {
  color: $color-primary;
  font-weight: $ms-font-weight-regular;
  &:hover, &:focus{
      color: $color-primary-dark;
  }
}
// List';


// ListItem';
.ms-List, .ms-ListItem{
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-light;
  line-height: 20px;
  margin-bottom: 32px;

  &.ms-ListItem--document{
    &.b-b-1{
      padding-top: 10px;
    }
    .ms-ListItem-actions{
      right: 0;
      top: 8px;
    }
    .ms-ListItem-metaText{
      right: 0;
      top: 30px;
    }
    .ms-Link{
      margin-top: 16px;
      opacity: 0;
    }
  }
  &:hover{
    .ms-Link{
      opacity: 1;
    }
  }
}
.ms-ListItem{
  & + &{
    //border-top: 1px solid $ms-color-neutralLighter;
  }
}
.ms-ListItem-secondaryText{
//    color: $ms-color-themePrimary;
}
.ms-ListItem-metaText {
//  color: $ms-color-themePrimary;
}

// MessageBanner';
// ContextualHost';
// MessageBar';
// OrgChart';
// Overlay';
// Panel';
// PanelHost';
// PeoplePicker';
// Persona';
.ms-Persona{
  font-weight: $ms-font-weight-light;
}
.ms-Persona-initials--primary{
  background-color: $color-primary;
}
// PersonaCard';
// Pivot';
// ProgressIndicator';
// SearchBox';
// Spinner';
// Table';
// TextField';

.ms-TextField-Button-icon{
  .ms-TextField-field{
    width: calc( 100% - 40px);
    display: inline-block;
  }
  .ms-Button{
    min-width: 16px;
    padding: 0 8px;
    float: right;
    box-sizing: border-box;
    .ms-Button-icon{
      display: inline-block;
      color: white;
    }
  }
}
// Toggle';



// login-page
.login-page{
  background-image: url("https://secure.aadcdn.microsoftonline-p.com/ests/2.1.4856.17/content/images/default_signin_illustration.png");
  background-position: bottom left;
  background-size: auto 100%;
}
.login-page-block{
  padding: 32px 0;
  min-height: 100vh;
  &>div {
    max-width: 400px;
    padding: 0 20px 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
/**/

.th-active-bar{
  position: relative;
  &:hover{
    .th-Card-action{
       opacity: 1;
    }
  }
}
.th-Card-action{
  opacity: 0;
  display: inline-block;
  cursor: pointer;
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-regular;
  height: 36px;
  line-height: 36px;
  padding-right: 10px;
  color: $color-primary;
  outline: transparent;
  position: relative;

  @include ms-u-borderBox;
  .ms-Icon{
    margin-right: 10px;
    top: 2px;
    position: relative;
    font-size: 16px;
    line-height: 34px;
  }
  &:hover {
    color: $color-primary-dark;
  }

  &:active {
    color: $color-primary-dark;
  }
}
