<header>
  <app-navigation-bar></app-navigation-bar>
</header>

<main>
  <div *ngIf="!loading" class="ms-Grid">
    <p class="m-b-05">количество <span class="color-primary">145</span></p>
    <div class="ms-Grid-row">
      <div class="ms-Grid-col ms-u-sm12">
        <div class="page-heading-xxl">
          <div class="ms-CommandButton">
            <button (click)="openAddElement()" class="ms-Button ms-CommandButton-button">
              <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--AddTo"></i></span>
              <span class="ms-CommandButton-label">Создать</span>
            </button>

          </div>

          <h1 class="ms-font-xxl">Элементы</h1>
        </div>
        <div class="ms-Grid-row">
          <elements-list [localElements]="elementsSet" (onSetFavorite)="onDataChange($event)"></elements-list>
        </div>
        <h1 *ngIf="elementsSet.length == 0" class="ms-font-xxl">Нет элементов для отображения</h1>
      </div>
    </div>

    <!--<div class="ms-Grid-row">-->
    <!--<div class="ms-Grid-col ms-u-sm12">-->
    <!--<div class="page-heading-xxl">-->
    <!--<h1 class="ms-font-xxl">Избранное</h1>-->
    <!--</div>-->
    <!--<div class="ms-Grid-row">-->
    <!--<elements-list [localElements]="favoriteSet" (onSetFavorite)="onDataChange($event)"></elements-list>-->
    <!--</div>-->
    <!--<h1 *ngIf="favoriteSet.length == 0" class="ms-font-xxl">Список избранного пуст</h1>-->
    <!--</div>-->
    <!--</div>-->

  </div>
</main>
