<h2 *ngIf="itemsList.length == 0" class="ms-font-xl ms-Grid-col ms-u-sm12 ms-u-lg4 m-b-1">Нет элементов для отображения</h2>

<div *ngIf="elementService.cardView == true">

    <ul *ngFor="let element of itemsList" class="ms-Grid-col ms-u-sm12 ms-u-lg4 m-b-1">
        <li class="th-active-bar ms-ListItem b-t-1 ms-ListItem--document">
            <div>
                <span class="ms-fontWeight-semibold">{{ element.first_name }} {{ element.last_name }}</span>
                {{ element.created_at|date:'dd.MM.yyyy hh:mm' }}
            </div>
            <div class="m-b-1">{{ element.name }}</div>
            <div class="ms-fontSize-l m-b-1">{{ element.description }}</div>

            <ul class="ms-Card-header-actions">
                <li (click)="changeFavorite(element)" data-action-id="favorite" class="ms-Card-action"
                    alt="Добавить в избранное" title="Добавить в избранное" tabindex="5"><i
                        [ngClass]="{'ms-Icon ms-Icon--FavoriteStar': true, 'ms-fontColor-red': element.is_favorite}"></i>
                </li>
            </ul>

            <div (click)="gotoDetail(element)" class="ms-Link ms-u-textAlignRight" alt="Перейти к элементу" title="Перейти к элементу">Перейти ...</div>

            <ul class="ms-Card-actions">
                <li (click)="gotoDetail(element)" class="ms-Card-overflow" alt="Перейти к элементу"
                    title="Перейти к элементу">Перейти ...
                </li>
            </ul>
        </li>
    </ul>
</div>
