<h2 *ngIf="itemsList.length == 0" class="ms-font-xl">Нет заметок для отображения</h2>

<ul *ngFor="let note of itemsList">
  <li class="m-b-2">
  <div class="th-icon-link-panel">
      <div (click)="onEditNoteClick(note)" data-action-id="phone" class="th-icon-link"><i
        class="ms-Icon ms-Icon--Edit "></i></div>
      <div (click)="onDeleteNoteClick(note)" data-action-id="video" class="th-icon-link"><i
        class="ms-Icon ms-Icon--Delete "></i></div>
      <div data-action-id="favorite" class="th-icon-link" tabindex="5"><i
        [ngClass]="{'ms-Icon':true,'ms-fontColor-red ms-Icon--Lock': note.private_note, ' ms-Icon--Unlock': !note.private_note}"></i>
      </div>
    </div>


  <div class="ms-font-xs">{{ note.created_at|date:'dd.MM.yyyy hh:mm' }}</div>
  <div class="m-b-1">{{ note.first_name }} {{ note.last_name }} </div>
  <div class="ms-fontSize-l m-b-1">{{ note.body }}</div>

    <div *ngIf="note.message" class="ms-Card-actionDetailBox">
      <div class="ms-Card-details is-active">
        <div class="ms-Card-detailLine"><span class="ms-Card-detailLabel">Сообщение:</span> <a
          class="ms-Link">Ссылка на сообщение</a></div>
      </div>
    </div>
  </li>
</ul>
