<div class="ms-Panel" id="editNotePanelID">
    <button class="ms-Panel-closeButton ms-PanelAction-close">
        <i class="ms-Panel-closeIcon ms-Icon ms-Icon--Cancel"></i>
    </button>
    <spinner-component *ngIf="inProcess" [SupportText]="spinnerText"></spinner-component>
    <br>
    <div class="ms-Panel-contentInner">
        <p class="ms-Panel-headerText">Редактировать заметку</p>
        <div class="ms-Panel-content">

            <div *ngIf="hasError">
                <div class="ms-MessageBar ms-MessageBar--error">
                    <div class="ms-MessageBar-content">
                        <div class="ms-MessageBar-icon">
                            <i class="ms-Icon ms-Icon--xCircle"></i>
                        </div>
                        <div class="ms-MessageBar-text">
                            {{ errorMessage }}
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <div [ngClass]="{'ms-Toggle':true, 'is-disabled': !editMode || inProcess || permission_denied}">
                <input [(ngModel)]="currentNote.private_note" type="checkbox" id="demo-toggle-44" class="ms-Toggle-input">
                <label for="demo-toggle-44" [ngClass]="{'ms-Toggle-field':true, 'is-selected':currentNote.private_note}" tabindex="0">
                    <span class="ms-Label ms-Label--off">Видна&nbsp;для&nbsp;всем&nbsp;пользователям</span>
                    <span class="ms-Label ms-Label--on">Личная&nbsp;заметка</span>
                </label>
            </div>

            <div *ngIf="false" [ngClass]="{'ms-TextField':true, 'is-required':true, 'is-disabled': !editMode || inProcess || permission_denied}">
                <label class="ms-Label">Тема</label>
                <input [(ngModel)]="currentNote.subject" class="ms-TextField-field" type="text">
            </div>

            <div [ngClass]="{'ms-TextField':true, 'is-required':true, 'is-disabled': !editMode || inProcess || permission_denied, 'ms-TextField--multiline':true}">
                <label class="ms-Label">Заметка</label>
                <textarea [(ngModel)]="currentNote.body" class="ms-TextField-field" type="text" maxlength="300"></textarea>
            </div>

        </div>

        <div class="ms-Dialog-actions">
            <button *ngIf="(editMode==true && inProcess == false && permission_denied == false)" (click)="onSaveNoteDialog()"
                    [ngClass]="{'ms-Button':true, 'is-disabled': inProcess, 'ms-Button--primary':true}">
                <span class="ms-Button-label">Сохранить</span>
            </button>
        </div>
    </div>
</div>
