<header>
  <app-navigation-bar></app-navigation-bar>
</header>

<main>
  <div class="ms-Grid">
    <div class="ms-Grid-row">
      <div class="ms-Grid-col ms-u-sm12 ms-u-mdOffset1 ms-u-md10 ms-u-lgOffset3 ms-u-lg6">
        <h1 class="ms-font-xxl">Изменение пароля</h1>

        <div *ngIf="hasError">
          <br>
          <div class="ms-MessageBar ms-MessageBar--error">
            <div class="ms-MessageBar-content">
              <div class="ms-MessageBar-icon">
                <i class="ms-Icon ms-Icon--xCircle"></i>
              </div>
              <div class="ms-MessageBar-text">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <br>
        </div>

        <div *ngIf="showInfo">
          <br>
          <div class="ms-MessageBar ms-MessageBar--info">
            <div class="ms-MessageBar-content">
              <div class="ms-MessageBar-icon">
                <i class="ms-Icon ms-Icon--xCircle"></i>
              </div>
              <div class="ms-MessageBar-text">
                {{ infoMessage }}
              </div>
            </div>
          </div>
          <br>
        </div>

        <div *ngIf="!finishEdit">
          <form action="" method="post" (submit)="change_password($event, password1.value, password2.value)">

            <div class="ms-TextField is-disabled">
              <label class="ms-Label"><span>Email</span></label>
              <input class="ms-TextField-field" type="email" placeholder="Адрес электронной почты" value="{{ currentUser.email }}">
            </div>

            <div class="ms-TextField is-required">
              <label class="ms-Label">Пароль</label>
              <input class="ms-TextField-field" #password1 type="password" placeholder="Пароль">
            </div>

            <div class="ms-TextField is-required">
              <label class="ms-Label">Подтверждение</label>
              <input class="ms-TextField-field" #password2 type="password" placeholder="Подтверждение">
            </div>

            <p>
              <button type="submit" class="ms-Button ms-Button--primary"><span class="ms-Button-label">Сохранить</span></button>
            </p>
          </form>
        </div>

      </div>
    </div>
  </div>
</main>
