<div *ngIf="elementService.cardView == true" class="yyy1">

    <ul *ngFor="let element of localElements" class="ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-xl4 ms-u-xxl4">
        <li class="ms-ListItem b-t-1 ms-ListItem--document">
            <div class="ms-fontWeight-semibold">{{ element.name }}</div>
            <div class="">
                {{ element.created_at|date:'dd.MM.yyyy hh:mm' }}
                {{ element.first_name }} {{ element.last_name }}</div>
            <div>&nbsp;</div>
            <div class="ms-fontSize-l">{{ element.description }}</div>

            <div (click)="gotoDetail(element)" class="ms-Link ms-u-textAlignRight" alt="Перейти к элементу" title="Перейти к элементу">Перейти ...</div>

            <div class="ms-ListItem-actions">
                <div (click)="changeFavorite(element)" data-action-id="favorite" class="ms-ListItem-action" alt="Добавить в избранное" title="Добавить в избранное" tabindex="5"><i [ngClass]="{'ms-Icon ms-Icon--FavoriteStar': true, 'ms-Icon--FavoriteStarFill ms-fontColor-red': element.is_favorite}"></i></div>
            </div>
        </li>
    </ul>

</div>

<table *ngIf="elementService.cardView == false" class="ms-Table ">
    <thead>
    <tr>
        <th>Название</th>
        <th>Автор</th>
        <th>Дата</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let element of localElements">
        <td class="ms-Link" (click)="gotoDetail(element)">{{ element.name}}</td>
        <td>{{ element.first_name }} {{ element.last_name }}</td>
        <td>{{ element.created_at|date:'hh:mm  dd.MM.yyyy' }}</td>
        <td><i (click)="changeFavorite(element)" [ngClass]="{'ms-Icon ms-Icon--Flag': true, 'ms-fontColor-yellow': element.is_favorite}"></i></td>
    </tr>
    </tbody>
</table>
