<div *ngIf="itemsList.length == 0" class="ms-Grid-col ms-u-sm12 m-b-2 ms-fontSize-l">
  Нет элементов для отображения
</div>

<div *ngIf="elementService.cardView == true" class="yyy1">
  <div *ngFor="let element of itemsList" class="ms-Grid-col ms-u-sm12 ms-u-md6 ms-u-xl4 ms-u-xxl4">
    <div class="th-card">
      <div class="th-card-header with-border">
        <div class="ms-Persona ms-Persona--sm">
          <div class="ms-Persona-imageArea">
            <div class="ms-Persona-initials ms-Persona-initials--blue">{{element.getSignature()}}</div>
          </div>
          <div class="ms-Persona-details">
            <div class="ms-font-xs">{{ element.created_at|date:'dd.MM.yyyy hh:mm' }}</div>
            <div>{{ element.first_name }} {{ element.last_name }}</div>
          </div>
        </div>
        <div class="ms-Icon-actions">
          <div class="th-icon-link" alt="Сигнал" title="Сигнал" tabindex="4"><i [ngClass]="{'ms-Icon ms-Icon--LightningBolt': true, 'ms-fontColor-red': element.is_signal}"></i>
          </div>
          <div (click)="changeFavorite(element)" data-action-id="favorite" class="th-icon-link"
               alt="Добавить в избранное" title="Добавить в избранное" tabindex="5"><i
            [ngClass]="{'ms-Icon ms-Icon--FavoriteStar': true, 'ms-Icon--FavoriteStarFill ms-fontColor-red': element.is_favorite}"></i>
          </div>
        </div>
      </div>
      <div (click)="gotoDetail(element)" class="th-card-body th-card-link">
        <div class="ms-fontWeight-regular ms-fontSize-l">{{ element.name }}</div>
        <div>{{ element.getShortDescription() }} </div>
      </div>
    </div>
  </div>
</div>
