<div *ngIf="false">
    <div *ngFor="let message of localMessages">
        <div class="ms-Card ">
            <div class="ms-Card-header">
                <div class="ms-Card-primaryText">{{ message.subject }}</div>
                <div class="ms-Card-secondaryText">{{ message.first_name }} {{ message.last_name }}</div>
                <div class="ms-Card-tertiaryText">{{ message.body }}</div>
                <div class="ms-Card-optionalText ms-fontColor-themePrimary">{{ message.message_date|date:'dd.MM.yyyy hh:mm' }}</div>
            </div>

            <ul class="ms-PersonaCard-actions">
                <li data-action-id="chat" class="ms-PersonaCard-action" tabindex="1" alt="Добавить заметку"
                    title="Добавить заметку"><i class="ms-Icon ms-Icon--Chat"></i></li>
                <li (click)="onViewMessageClick(message)" class="ms-PersonaCard-overflow" alt="Просмотерть полностью"
                    title="Просмотерть полностью">
                    Детально ...
                </li>
            </ul>
        </div>
        <br>
    </div>
</div>


<div class="m-b-2 th-active-bar" *ngFor="let message of localMessages" tabindex="0">
    <div class="ms-Persona">
        <div class="ms-Persona-imageArea">
            <div class="ms-Persona-initials ms-Persona-initials--primary">RM</div>
            <!--<img class="ms-Persona-image" src="../persona/Persona.Person2.png">-->
        </div>
        <div class="ms-Persona-details">
            <div class="m-b-1">
                <span class="ms-fontWeight-semibold">{{ message.first_name }} {{ message.last_name }}</span>
                {{ message.message_date|date:'dd.MM.yyyy hh:mm' }}
            </div>
            <div *ngIf="message.message_type == 'E'" class="ms-fontSize-l m-b-1"> {{ message.body_preview }}</div>
            <div *ngIf="message.message_type == 'S'" class="ms-fontSize-l m-b-1"> {{ message.body }}</div>
        </div>
    </div>
    <div class="th-hover-active-bar">
        <div (click)="onAddNoteClick(message)" class="th-Card-action"><i
                class="ms-Icon ms-Icon--QuickNote "></i>Заметка
        </div>
        <div (click)="onEditMessageClick(message)" class="th-Card-action"><i
                class="ms-Icon ms-Icon--Edit "></i> Редактировать
        </div>
        <div (click)="onDeleteMessageClick(message)" class="th-Card-action"><i
                class="ms-Icon ms-Icon--Delete "></i> Удалить
        </div>
    </div>
</div>

