<div class="ms-Dialog" id="ViewMemberDialogID">
    <spinner-component *ngIf="inProcess" [SupportText]="spinnerText"></spinner-component>
    <br>
    <div class="ms-Dialog-title">Список пользователей</div>
    <div class="ms-Dialog-content">

        <div *ngIf="hasError">
            <div class="ms-MessageBar ms-MessageBar--error">
                <div class="ms-MessageBar-content">
                    <div class="ms-MessageBar-icon">
                        <i class="ms-Icon ms-Icon--xCircle"></i>
                    </div>
                    <div class="ms-MessageBar-text">
                        {{ errorMessage }}
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="ms-PeoplePicker ms-PeoplePicker--facePile">
            <div class="ms-PeoplePicker-selected is-active">

                <ul class="ms-PeoplePicker-selectedPeople">

                    <li *ngFor="let user of membersList" class="ms-PeoplePicker-selectedPerson " tabindex="1">
                        <div class="ms-Persona ms-Persona--sm">
                            <div class="ms-Persona-imageArea">
                                <div class="ms-Persona-initials ms-Persona-initials--blue">RM</div>
                            </div>
                            <div class="ms-Persona-presence"></div>
                            <div class="ms-Persona-details">
                                <div class="ms-Persona-primaryText">{{ user.first_name }} {{ user.last_name }}</div>
                                <div class="ms-Persona-secondaryText">{{ user.email }}</div>
                            </div>
                        </div>
                        <button *ngIf="currentElement.owner!=user.id && !inProcess && !permission_denied" (click)="deleteUser(user)" class="ms-PeoplePicker-resultAction"><i class="ms-Icon ms-Icon--Clear"></i>
                        </button>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <div class="ms-Dialog-actions">
        <button class="ms-Button ms-Dialog-action">
            <span class="ms-Button-label">Отмена</span>
        </button>
    </div>
</div>
