<div class="ms-Dialog" id="addElementPanelID">
  <spinner-component *ngIf="inProcess" [SupportText]="spinnerText"></spinner-component>
  <br>

  <div class="ms-Dialog-title">Новый элемент</div>
  <div class="ms-Dialog-content">
    <div *ngIf="hasError">
      <div class="ms-MessageBar ms-MessageBar--error">
        <div class="ms-MessageBar-content">
          <div class="ms-MessageBar-icon">
            <i class="ms-Icon ms-Icon--xCircle"></i>
          </div>
          <div class="ms-MessageBar-text">
            {{ errorMessage }}
          </div>
        </div>
      </div>
      <br>
    </div>

    <div [ngClass]="{'ms-TextField':true, 'is-required':true, 'is-disabled': inProcess}">
      <label class="ms-Label">Название</label>
      <input [(ngModel)]="name" class="ms-TextField-field"
             type="text" maxlength="100">
    </div>

    <div [ngClass]="{'ms-TextField':true, 'ms-Dropdown':true, 'is-required':true, 'is-disabled': inProcess}" tabindex="0">
      <label class="ms-Label">Тип</label>
      <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--ChevronDown"></i>
      <select [(ngModel)]="element_type" class="ms-Dropdown-select">
        <option *ngFor="let elType of modelTypes"
                [value]="elType.id"
                [selected]="elType.id == 'W'">
          {{ elType.name }}
        </option>
      </select>
    </div>

    <div [ngClass]="{'ms-TextField':true, 'ms-TextField--multiline':true, 'is-required':false, 'is-disabled': inProcess}">
      <label class="ms-Label">Описание</label>
      <textarea
        id="DescriptionIdTextArea" [tinyEditor]

        (ngModelChange)="doChangeDescription()"
        [(ngModel)]="description"
        class="ms-TextField-field wysiwyg"
        type="text"
        maxlength="5000">
      </textarea>
    </div>

  </div>

  <div class="ms-Dialog-actions">
    <button *ngIf="!inProcess" (click)="onCreateElement()"
            class="ms-Button  ms-Button--primary">
      <span class="ms-Button-label">Сохранить</span>
    </button>
    <button class="ms-Button ms-Dialog-action">
      <span class="ms-Button-label">Отмена</span>
    </button>
  </div>
</div>
